.vs/
GachaTool/bin/
GachaTool/obj/Debug/DesignTimeResolveAssemblyReferences.cache
GachaTool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GachaTool/obj/Debug/GachaSimulator.csproj.CopyComplete
GachaTool/obj/Debug/GachaSimulator.csproj.CoreCompileInputs.cache
GachaTool/obj/
packages/
